/* Esercizio 1 */

.ex-1-square{
    transition: 3s;
}
.ex-1-square:hover{
    cursor: pointer;
    background-color: red;
}

/* Esercizio 2 */

.ex-2-square{
    transition: 3s;
}

.ex-2-square:active{
    cursor: pointer;
    width: 1100px;
}

/* Esercizio 3 */

.ex-3-square{
    transition: 1s;
}

.ex-3-square:hover{
    cursor: pointer;
    border-radius: 50%;
}
/* Esercizio 4 */

.ex-4-square{
    transition: 1s;
}

.ex-4-square:hover{
    cursor: pointer;
    opacity: 0;
}

/* Esercizio 5 */

.ex-5-square{
    transition: 2s;
}

.ex-5-square:hover{
    transform: scale(2);
}

.ex-5-square:active{
    transform: scale(0.5);
}

/* Esercizio 6 */

.ex-6-img:hover{
    filter: grayscale(1);
}

/* Esercizio 7 */

.ex-7-img{
    transition: 2s;
}

.ex-7-img:hover{
    filter: sepia(0.755) opacity(1);
}
/* Esercizio 8 */

.ex-8-img{
    transition: 2s;
}

.ex-8-img:hover{
    border-radius: 25px;
    filter: sepia(0.6) grayscale(0.4);
}

/* Esercizio 9 */

.ex-9-img{
    transition: 3s;
}

.ex-9-img:hover{
    border-radius: 25px;
    filter:  grayscale(0.4) sepia(0.6);
    transform: scale(1.5);
}

/* Esercizio 10 */

.ex-10-icon{
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
   
    0%{ transform: rotate(1turn); }

}

/* Esercizio 11 */

.ex-11-icon:hover{
    animation: halfrotate 2.5s linear;
}

@keyframes halfrotate {
    
    0%{ transform: rotate(0);}

    80%{ transform: rotate(310deg);}
}

/* Esercizio 12 */

.ex-12-button:hover .ex-12-top-white{
    animation: semirotate 2s linear;
}

@keyframes semirotate {
    
    0%{ top: -10px;
        left: 10%;
    }

    50%{ top: -10px;
         left: 60%;   
    }
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: semirotate-b 2s linear reverse;
}

@keyframes semirotate-b {
    0%{ bottom: -10px;
        right: 10%;
    }

    50%{ bottom: -10px;
        right: 60%;
    }
}
/* Esercizio 13 */

.ex-13-button:hover .ex-13-top-white{
    animation: complete-rotate 2s linear infinite;
}

@keyframes complete-rotate{
    0%{ top: -10px;
        left: 0%;
    }

    25%{ top: -10px;
        left: 80%;
    }

    50%{ top: 100%;
         left: 80%;
    }

    75%{ top: 100%;
         left: -10%;
    }

    100%{ top: -10px;
          left: 0%;
    }
}

.ex-13-button:hover .ex-13-bottom-white{
    animation: complete-rotate-b 2s linear infinite;
}

@keyframes complete-rotate-b{
    0%{ bottom: -10px;
        right: 0%;
    }

    25%{ bottom: -10px;
         right: 80%;
    }

    50%{ bottom: 100%;
         right: 80%;
    }

    75%{ bottom: 100%; 
         right: -10%;  
    }

    100%{ bottom: -10px;
        right: 0%;
    }
}